body {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.yy{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(255, 178, 249);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #e98aff, 0 0 1px #f7b8ff;
}

.yy:hover{
    background-color: rgb(214, 49, 255);
    transition: 1s;
}

.aa{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(123, 255, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #c2ffeb, 0 0 1px #d0ffda;
}

.aa:hover{
    background-color: rgb(4, 255, 159);
    transition: 1s;
}