body {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.ss{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(253, 154, 224);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #ff36d3, 0 0 1px #fc048c;
}

.ss:hover{
    background-color: rgb(255, 111, 207);
    transition: 1s;
}

.xx{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(253, 127, 232);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #ff36d3, 0 0 1px #fc048c;
}

.xx:hover{
    background-color: rgb(239, 169, 253);
    transition: 1s;
}