body {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.xx{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(178, 240, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #e0c6e6, 0 0 1px #e2d2e0;
}

.xx:hover{
    background-color: rgb(205, 255, 238);
    transition: 1s;
}

.zz{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(167, 233, 253);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #cce7fd, 0 0 1px #cdffff;
}

.zz:hover{
    background-color: rgb(120, 183, 255);
    transition: 1s;
}